<?xml version='1.0' encoding='utf-8'?>
<widget id="example.sse.mqtt.tabris" version="0.1.0">
  <name>omahPinter</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="rusminto900@gmail.com">
    rusminto
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
